body{
    text-align: center;
}

/*
li{
    text-align: left;
}


h2{
    color:rosybrown;
}

table{
    width: 65%;
    margin: auto;
    font-size:1.5em;
}

th{
    border-bottom:  1px solid purple;
}

td.even{
    border:  5px solid rgb(100,50,17);
}

*/
