body{
    text-align: center;
}

table {
    width: 40% ;
    margin: auto ;
}

th,td {
    padding: 10px 0px 10px ;
    border-bottom: 1px solid black ;
}

.odd {
    background-color: white ;
}

.even {
    background-color: greenyellow;
}
